@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#ce3699; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkslategrey; 
}

* {
  overflow-y: auto !important;
  background-color: #121212;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-title {
  font-size: 10rem;
  text-align: center !important;
  line-height: 1.5 !important;
  background: url("") no-repeat center !important; 
  background-size: contain !important;
  color: #ffffff;
  opacity: 87%;
}

.hello {
  color: #8282f3;
}

.header-description {
  font-size: 4rem;
  text-align: center !important;
  line-height: 1.5 !important;
  color: #8282f3;
  
}

.about-title {
  text-align: center;
  font-size: 7rem;
  margin-top: 100px;
  color: #ce3699;
}

.about-text-box{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.about-text{
  flex: 1;
  max-width: 45%;
  font-size: 2rem;
  color: #ffffff;
  opacity: 87%;
  background-color: rgb(130, 130, 243, .2);
  padding: 30px;
  padding-top: 75px;
}

.about-pic{
  flex: 2;
  max-width: 45%;
}

.projects-title {
  text-align: center;
  font-size: 7rem;
  margin-top: 100px;
  color: #ce3699;
}

.footer {
  background-color: #121212;
  display: flex;
  justify-content: center;
}

.git-btn-f {
  margin-left: 40px;
  flex: 1;
  color: #ce3699;
}

.git-btn-f:hover {
  color: #921b68;
}

.link-btn {
  margin-right: 40px;
  flex: 1;
  color: #8282f3;
}

.link-btn:hover {
  color: #6262bd;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.git-btn{
  color: #ce3699;
  margin-top: 7px;
  margin-left: 10px;
}

.git-btn:hover{
  color: #921b68;
}

.button {
  background-color: #8282f3;
  color: #ffffff !important;
  border: none;
  margin-top: 19px;
  margin-right: 10px;
}

.button:hover {
  background-color: #6262bd;
}

.cairn {
  flex: 1 0 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #8282f3;
  padding: 10px;
  border-radius: 5%;
}

.cairn-pic {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.remindr {
  flex: 1 0 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #8282f3;
  padding: 10px;
  border-radius: 5%;
}

.remindr-pic{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.source-project {
  flex: 1 0 20%;
  margin-left: 5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #8282f3;
  padding: 10px;
  border-radius: 4%;
}

.node-pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.team-gen {
  flex: 1 0 20%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #8282f3;
  padding: 10px;
  border-radius: 4%;
}

.team-gen-pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.weather {
  flex: 1 0 20%;
  margin-left: 2.5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #8282f3;
  padding: 10px;
  border-radius: 4%;
}

.weather-pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.schedule {
  flex: 1 0 250px;
  margin-left: 5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #8282f3;
  padding: 10px;
  border-radius: 4%;
}

.schedule-pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.quiz {
  flex: 1 0 250px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #8282f3;
  padding: 10px;
  border-radius: 4%;
}

.quiz-pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.password-gen {
  flex: 1 0 250px;
  margin-left: 2.5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #8282f3;
  padding: 10px;
  border-radius: 4%;
}

.password-pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-text {
  color: #ffffff;
  font-size: 1.5rem;
  opacity: 87%;
  padding: 15px;
}

.project-footer {
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  width: 92vw;
  margin-top: 60px !important;
}

.designer-header {
  text-align: center;
  font-size: 7rem;
  margin-top: 100px;
  color: #ce3699;
}

.contact {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 60%;
}

.contact-header {
  text-align: center;
  font-size: 7rem;
  margin-top: 100px;
  color: #ce3699;
}

.contact-label {
  color: white;
  font-size: 1.5rem;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin-top: 20px !important;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #ce3699;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  width: 100%;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}